.Grass
    position: absolute
    top: 50rem
    bottom: 0
    width: 450px
    height: 240px
    left: 50%
    transform: translateX(-50%)
    perspective: 1000
    @include size(md)
        width: 750px
    &__part-1
        width: 90%
        height: 12.3rem
        position: absolute
        left: 50%
        transform: rotateX(69deg) translateX(-50%)
        border-radius: 50%
        background-color: rgb(107, 163, 62)
    &__part-11
        width: 60%
        height: 12rem
        position: absolute
        top: 4rem
        left: 50%
        transform: rotateX(69deg) translateX(-50%)
        border-radius: 50%
        background-color: rgb(107, 163, 62)
    &__part-1-11-curvature-left
        position: absolute
        width: 6rem
        height: 1.1rem
        background-color: #a6d15e
        border-radius: 50%
        top: 7.8rem
        left: 8rem
        transform: rotateX(13deg) rotateY(-3deg)
        z-index: 0
        @include size(md)
            left: 16rem
    &__part-1-11-curvature-center
        position: absolute
        width: 46%
        height: 5rem
        background-color: rgb(107, 163, 62)
        top: 23%
        right: 50%
        transform: translateX(50%)
        z-index: -1
    &__part-1-11-curvature-right
        position: absolute
        width: 6rem
        height: 1.1rem
        background-color: #a6d15e
        border-radius: 50%
        top: 32.2%
        right: 7.9rem
        transform: rotateX(13deg) rotateY(4deg)
        z-index: 0
        @include size(md)
            right: 16rem
    &__part-2
        width: 95%
        height: 12rem
        position: absolute
        left: 50%
        top: 2.5%
        transform: rotateX(60deg) translateX(-50%)
        border-radius: 50%
        background-color: rgb(166, 209, 94)
        z-index: -5
    &__part-22
        width: 67%
        height: 13rem
        position: absolute
        top: 4.5rem
        left: 50%
        transform: rotateX(75deg) rotateY(-1deg) translateX(-50%) translateY(-14px)
        border-radius: 50%
        background-color: #a6d15e
        z-index: -1
    &__part-32
        position: absolute
        width: 42%
        height: 2rem
        border-radius: 50%
        background-color: #a6d15e
        top: 47%
        right: 10%
        transform: rotateZ(-5deg) translateX(-15px)
        z-index: -1
    &__part-33
        position: absolute
        width: 32%
        height: 2.5rem
        background-color: #a6d15e
        border-radius: 50%
        top: 43%
        right: 10%
        transform: rotateZ(-5deg)
        z-index: -1