@mixin size($size)

    @if $size == md
        @media screen and (min-width: 768px)
            @content 

@mixin center-element
    left: 50%
    transform: translateX(-50%)

@mixin tile-shadow
    position: absolute
    transform: rotate(180deg)
    background-color: rgba(0,0,0,.5)
    width: 16px
    height: 3px
    border-radius: 50% / 100%
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0

@mixin tile
    position: absolute
    width: 32px
    height: 10rem
    border: solid 3px $roof-column-tiles-color
    border-color: $roof-column-tiles-color transparent transparent transparent
    border-radius: 150%/115px 100px 0 0
    transform: rotate(161deg)

@mixin second-tile
    position: absolute
    width: 32px
    height: 10rem
    border: solid 2px $roof-column-tiles-color
    border-color: $roof-column-tiles-color transparent transparent transparent
    border-radius: 250%/40px 50px 0 0

@mixin brick
    position: absolute 
    width: 2px
    height: 5px
    background-color: rgb(89,97,108)
    z-index: 9999
@mixin crossbar
    position: absolute
    width: 1px
    background-color: rgb(64,28,4)

@mixin column
    position: absolute
    width: 2px
    background-color: $roof-column-tiles-color
    z-index: 1